$main-black: rgb(17, 17, 17);
$main-light: rgb(249, 249, 249);

$jet: rgb(43, 42, 41);
$folly: rgb(255, 70, 85);
$rich-black: rgb(15, 25, 35);
$light-grey: rgb(70, 68, 68);
$light-grey-op: rgba(70, 68, 68, .4);
$main-light-op: rgba(249, 249, 249, .4);

$disadled-color: rgb(185, 182, 182);

$gradient-color: rgb(255, 125, 102);

//rating block
$medium-rating: rgb(255, 209, 102);
$big-rating: rgb(74, 155, 74);

//errors alert
$error-alert-back-color: rgb(245, 183, 188);